.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  position: relative;
}

.App-title {
  font-size: 1.5em;
  display:inline-block;
}

.App-intro {
  font-size: large;
}

.cfclogo {
  width:80px;
  display:inline-block;
  position: absolute;
  left: 10px;
  top: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
